* {
  margin: 0em;
  padding: 0em;
  font-size: 100%;
  border-style: none;
  list-style-type: none;
}

body {
  background-color: #939393;
  color: #fafafa;
  font-family: "helvetica", calibri, sans-serif;
}

#wrapper {
  width: 1170px;
  background-color: #273149;
  margin: auto;
}

#inner-wrapper {
  width: 1020px;
  margin: auto;
  padding-top: 80px;
}

#topper {
  display: flex;
  justify-content: space-between;
}

nav {
  width: 338px;
  padding-top: 10px;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

nav a {
  font-size: 20px;
  color: #fafafa;
  text-decoration: none;
}

nav a:hover {
  color: #939393;
}

#current {
  color: #bbcfe1;
}

main {
  display: flex;
  justify-content: space-between;
}

main a {
  color: #fdfdfd;
}

section {
  width: 384px;
  margin-top: 150px;
}

section a {
  color: #b6ef1d;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 23px;
}

p {
  color: #fff;
  font-size: 17px;
  margin-top: 25px;
  line-height: 1.5em;
}

footer {
  width: 450px;
  margin: auto;
  padding: 10px 0px 8px 0px;
  font-size: 11px;
  color: #fff;
}

footer ul {
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color: #fff;
  text-decoration: none;
}

/* if min-width then the css inside the breakpoint is applied to screens >480px ...   if max-width then css inside the breakpoint is applied to screens <480px 
Research other options to develop your responsive design skills */

@media only screen and (min-width: 480px) {
} /*  end 480px breakpoint  */
